<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.pjt.model.dao.BettingDao">


	<!-- 전체 내기 조회 -->
	<select id="selectAll" resultType="Betting" parameterType="int">
		SELECT *
		FROM betting
		WHERE group_id = #{group_id}
	</select>

	<!-- 내기 키워드로 검색 -->
	<select id="selectByKeyword" parameterType="String"
		resultType="Betting">
		SELECT *
		FROM betting
		WHERE keyword LIKE CONCAT('%', #{keyword}, '%')
	</select>

	<!-- 내기 상세 조회 -->
	<select id="selectOne" resultType="Betting" parameterType="int">
		SELECT *
		FROM betting
		WHERE id = #{id}
	</select>

	<!-- 내기 등록 -->
	<insert id="insertBetting" parameterType="Betting"
		keyProperty="id" useGeneratedKeys="true">
		INSERT INTO betting (group_id, name, keyword, goal, award, fee, start, end)
		VALUES (#{group_id}, #{name}, #{keyword}, #{goal}, #{award}, #{fee}, #{start}, #{end})
	</insert>

	<!-- 내기 수정 -->
	<update id="updateBetting" parameterType="Betting">
		UPDATE betting
		SET
		name = #{name}
		, keyword = #{keyword}
		, goal = #{goal}
		, award = #{award}
		, fee = #{fee}
		, start = #{start}
		, end = #{end}
		WHERE id = #{id}
	</update>

	<!-- 내기 삭제 -->
	<delete id="deleteBetting" parameterType="int">
		DELETE FROM betting
		WHERE id = #{id}
	</delete>

</mapper>