<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.pjt.model.dao.GroupReviewDao">
	<!-- 게시글별 리뷰 조회 -->
	<select id="selectAll" resultType="Review" parameterType="int">
		SELECT *
		FROM group_review
		WHERE post_id = #{post_id};
	</select>

	<!-- 게시글 등록 -->
	<insert id="insertReview" parameterType="Review" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO group_review (post_id, user_id, content)
		VALUES (#{post_id}, #{user_id}, #{content})
	</insert>
	<!-- 게시글 수정 -->
	<!-- 컬럼이 등록 날짜만 관리를 하고 있다. -->
	<!-- 등록날짜 / 최근 조회날짜 / 수정 날짜 .... -->
	<update id="updateReview" parameterType="Review">
		UPDATE group_review
		SET
		content = #{content}
		, reg_date = now()
		WHERE id = #{id}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="deleteReview" parameterType="int">
		DELETE FROM group_review
		WHERE id = #{id}
	</delete>
</mapper>